/*Best practice cards item*/
.bpi-items{
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}
.card-best-practies{
    padding-top: 5px;
//background: rgb(4,2,5);
//background: linear-gradient(135deg, rgba(4,2,5,1) 17%, rgba(255,233,117,1) 63%, rgba(249,225,114,1) 83%, rgba(191,147,85,1) 95%);
    box-shadow: -20px 20px 0 -17px #C1C9CB,
    20px -20px 0 -17px rgba(191,147,85,1),
    20px 20px 0 -20px rgba(255,233,117,1),
    0 0 0 2px rgba(249,225,114,1);
    margin: 2rem;
}
.feauters{
    font-weight: bold;

//color: black;
//-webkit-text-stroke: 2px #ccc;
//text-stroke: 1px #ccc;
}
.best-practies-item-title{
    color: #60B88D;
    -webkit-text-stroke: 2px #000;
    text-stroke: 2px black;
}