
html {
    scroll-behavior: smooth;
}
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}
@font-face {
    font-family: 'Azonix';
    src: url('/fonts/Azonix.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}